@media  screen and (max-width:1070px) {
    body{
        background: #000;
    }
    nav{
        flex-direction: column;
    }
    .logo{
        align-self: flex-start;
    }
    nav ul{
        visibility: collapse;
    }
}